{
    "sourceType": "module",
    "presets": [
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        [
            "@babel/preset-env",
            {
                "targets":{
                    "electron":"13"
                    // "esmodules":true
                    // "node":"current"
                }
            }
        ]
    ],
    "plugins": [

                // "@babel/plugin-syntax-class-properties"
                ["import", {
                    "libraryName": "antd",
                    "style":"css"
                    } ]
                // "@babel/plugin-syntax-top-level-await"
    ]

}
